.sidebar {
  max-height: 100vh !important;
  min-height: 100vh !important;
  background-color: rgb(70, 70, 70);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  padding: 48px 0 0;
  transition: width ease .5s;
  overflow-y: hidden;
}

.open {
  width: auto;
}

.closed {
  width: 74px;
}

.closed .bar-text {
  pointer-events: none;
  display: none;
}

.button {
  position: absolute;
  width: 48px !important;
  height: 48px !important;
  border-radius: 48px !important;
  margin-top: 25%;
}

.closed .button {
  margin-left: 38px;
}

.open .button {
  margin-left: 95px;
}

.nav-item {
  margin-top: 10px;
  margin-bottom: 5px;
}

.nav-item:hover {
  background-color: #fff;
  border-radius: 12px;
}

.link:hover {
  color: #1b1b1b !important;
}

.link:hover .sidebar-icon {
  color: #1b1b1b;
}

.sidebar-icon {
  color: #fff;
  margin-right: 4px;
}

.link {
  display: flex !important;
  align-items: center;
  color: #fff !important;
}
